body{
	font-family: sans-serif;
}
h3{
	width:75%;
	margin-left: 30%;
	/*background-color: gray;*/
	text-align: left;
}
.details{
	letter-spacing: 1px;
	padding: 15px;
	font-family: sans-serif;
	box-sizing: border-box;
	border: 2px solid green;
}
.details h1{
	letter-spacing: 1px;
	padding: 15px;
	margin-left: 35%;
	font-family: sans-serif;
	align-content: center;
}
#pending{
	margin-top: 30px;
	margin-left: 15%;
	text-align: left;
}
h1
{
	margin-left: -50%;
	/*text-decoration: underline;*/
	text-align: center;
}
.compl_view{
	width:45%;
	border : 1px solid red; 
	height: 90vh;
	float: left;
	overflow-y: auto;
}
.row{
	margin-left: 5%;
	margin-top: -10px;
	border: 1px solid blue;
	width: 80%;
	float: left;


}
#pending{
	float: right;
	margin-right: 20%;
	margin-top: -3%;
}
/*#p1{
	float: left;
	margin-right: 20%;
	margin-top: -5%;
}*/
.row h3
{
	margin-left: 25px;
	/*text-decoration: underline;*/
	text-align: left;
}
.row h1
{
	text-decoration: underline;
	text-align: left;
}
.row1{
	margin-left: 5%;
	margin-top: -10px;
	border: 1px solid blue;
	width: 80%;
	float: right;
}
.row1 h3
{
	margin-left: 25px;

	/*text-decoration: underline;*/
	text-align: left;
}
.row1 h1
{
	text-decoration: underline;
	text-align: left;
}
.idea_view{
	width:45%;
	border : 1px solid red; 
	height: 90vh;
	float: right;
	overflow-y: auto;
}
.button1{
	cursor: pointer;
	color: white;
	margin-top: -100px;
	float: right;
	background-color: green;
	align-items: center;
	border: 1px solid red;
	border-radius: 5px;
	height: 30px;
	width: 15%;
	margin-left: 20px;
}
.button2{
	cursor: pointer;
	color: white;
	margin-top: -50px;
	background-color: red;
	float: right;
	align-items: center;
	border: 1px solid green;
	border-radius: 5px;
	height: 30px;
	width: 15%;
	margin-left: 20px;
}

#logout{
	font-weight: bold;
	background-color: #6095ea;
	color: white;
	border-radius: 5px;
	margin-top: 150px;
	margin-right: 25px;
	width: 120px;
	height: 35px;
	float: right;
	padding: 5px;
}
#logout:hover{
	background-color: #0e64ef;
}

