html{
    scroll-behavior: smooth; 
}
body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

section{
    /* width: 100%; */
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#sec1{
  background-color: #fff;
  height: 65vh;
}
section:nth-child(even)
{
    
    z-index: 90;
    background: #dadff8;
}

section:nth-child(odd)
{
        background: white;
        /* box-shadow: 10px 10px 10px red; */
}
/* #sec1{
    margin-top: -20px;
} */
section:before{
    content: attr(data-text);
    color: #262626;
    font-size: 100px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}
#sec5,#sec4,#sec3,#sec2,#sec1 p{
    text-align: center;
    justify-content: center;
}
 #navbar{
     /* margin-top: -100px; */
    padding: 2px;
    box-sizing: border-box;
    height: 55px;
    background: rgb(161, 102, 149);
    background-image: linear-gradient(to left, rgb(65, 65, 245) , rgb(163, 64, 163), rgb(177, 100, 177));
    box-shadow: 1px 5px 10px rgb(189, 179, 179);
    z-index: 1;
    width: 100%;
    position: fixed;
    overflow: hidden;
}
#navbar img{
    margin-left: 10%;
    float: left;
}
#navbar li{
    /* text-decoration: none; */
    list-style: none;
    padding-right: 2%;
    float: right;
    position: relative;
} 
.Navbar li a{ 
    color: white;
    text-decoration: none;
    position: relative;
} 


.box1{
    box-sizing: border-box;
    padding: 0.5%;
    position: absolute;
     border: 1px solid #a6f8a6; 
    margin-left: 15%;
    margin-top: 100px;
    background: rgba(252, 250, 250, 0.253);
    width: 70%;
    height: 70%;    
    box-shadow:0px 2px 5px rgba(161, 161, 161, 0.5);

/*   opacity: 0;*/
   overflow-y: auto;
}
.box1:hover{  
/*   opacity: 1;*/
    border: none;
    box-shadow:0px 5px 15px rgba(161, 161, 161, 0.5);
}
 #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  } 

#sec2{
    /* background: blue; */
    background-size: cover;        
}
#sec2{
   box-sizing: border-box;
   padding: 1%;
    background-size: cover;        
}
.formC
{
    
    border: 1px solid #45a049;
    padding: 1%;
    float: right;
    width: 35%;
    box-sizing: border-box;
    margin-right: 3%;
    margin-top: 3%;
      box-shadow:2px 5px 10px rgba(161, 161, 161, 0.5);
}

input[type=text], input[type=email], select {
    float: right;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 5px;
    /* display: inline-block; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
   input[type=password]{
    float: right;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 5px;
    /* display: inline-block; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   }
  
  input[type=submit] {
      float: right;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
  }

  
  input[type=submit]:hover {
    background-color: #45a049;
  }
 #comp{
      margin-top: 8px;
      margin-right: 50px;
      position: relative;
      height: 30vh;
      width: 100%;
  }
  
  /* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */


  * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#dots{
    margin-top: -55px;
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.myDiv{
    float: left;
    display: none;
}
#myDIV {

  margin-left: 5%;
  width: 50%;
  padding: 50px 0;
  text-align: center;
  /*border:1px solid red;*/
  /*background-color: yellow;*/
  margin-top: 150px;
  float: left;
  display: none
}

.compl_view{
  /*border-color: red;*/
  box-shadow: -5px -8px 15px rgba(161, 161, 161, 0.5);
  height: 40vh  ;
  overflow: auto;
  text-align: left;
}
.compl_view:hover{
  box-shadow: 8px 10px 15px rgba(161, 161, 161, 0.5) ;                                   
}

#b1{ 
  margin-top:80px;
  margin-left: 25%; 
  font-size: 20px;
  color: white;
  width: 11vw;
  height: 3vw;
  background-image: linear-gradient(to right, #4CAF50, #45a049, #4CAF50);
border : 1px solid green; 
border-radius: 5%;
cursor: pointer;
position: absolute;
 }
#b1:hover{
      background-image: linear-gradient(to right, #45a049, #4CAF50, #45a049);
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.row{
  background-color: #f3f3f3;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: red; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f4db18; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: green; 
}
.box2{
   box-sizing: border-box;
    padding: 0.5%;
    position: absolute;
     border: 1px solid #a6f8a6; 
    margin-left: 20%;
    margin-top: 100px;
    background: rgba(252, 250, 250, 0.253);
    width: 30%;
    height: 30%;    
    box-shadow:0px 2px 5px rgba(161, 161, 161, 0.5);

/*   opacity: 0;*/
   overflow-y: auto;
}
.box2:hover{
      box-shadow:2px 5px 10px rgba(161, 161, 161, 0.5);

}
.sec3{
  background-color: #E0FFFF;
}